.idea
out
.idea
chapters/background.aux
interim-blx.bib
interim.toc
interim.synctex.gz
ignore
interim.out
interim.fls
interim.lof
interim.log
interim.fdb_latexmk
interim.bbl
interim.run.xml
interim.blg
interim.lot
interim.aux
**/*.aux
